# macOS
.DS_Store

# python
__pycache__/
*.pyc
.venv/
venv/

# env
.env

# data / outputs / logs
data/
outputs/
logs/
runs/
experiments/
assessment/
signals/

# big artifacts
*.parquet
*.csv
*.jsonl

# notebooks (если появятся)
.ipynb_checkpoints/